# Arquivo de configuração do Flake8
# Flake8 é uma ferramenta para verificar a conformidade com o estilo de código Python (PEP8).

[flake8]
# Definir o comprimento máximo de linha como 95 caracteres,
# o que é compatível com o Black.
max-line-length = 100

# Ignorar erros específicos para evitar falsos positivos
# ou para se adequar às suas preferências de estilo:
# - E501: Linha muito longa (não necessário já que definimos o tamanho máximo).
# - W503: Quebra de linha antes de um operador binário.
# - C901: Função com complexidade ciclamática alta (permite funções com mais argumentos).
ignore = 
    E501,  # Linha muito longa
    W503,  # Quebra de linha antes de um operador binário.
    C901,  # Função com complexidade ciclamática alta
    E203,  # Espaço antes de ":" (para evitar conflito com o Black)
    W503   # Linha quebrada antes de um operador


# Excluir pastas e arquivos que não precisam ser analisados pelo Flake8.
exclude = 
    __pycache__,
    .pytest_cache,
    trash,
    .git,
    venv,
    .venv,
    docs/source/conf.py,
    old,
    build,
    dist,
    .tox,
    .mypy_cache,
    migrations,  # Se houver uma pasta de migrações do banco de dados
    tests/*      # Para evitar que os testes sejam verificados

# Definir a complexidade ciclamática máxima.
# Valores maiores indicam que a função precisa ser simplificada.
max-complexity = 10

# Selecionar códigos específicos para análise, abordando erros e padrões de código.
# C: Erros de complexidade ciclamática.
# E: Erros de sintaxe.
# F: Erros de importação.
# W: Avisos de estilo.
select = C,E,F,W
